<div class="card">

   <div class="card-header">
       Transações
   </div>

   <div class="card-body">
       <div class="row my-2 border-bottom" *ngFor="let transacao of transacoes">

           <div class="col-md-1">
               <span [ngClass]="{'text-success': transacao.origemTipo == 0, 'text-danger': transacao.origemTipo == 1, 'text-info': transacao.origemTipo == 2}">
                   
                   <svg *ngIf="transacao.origemTipo == 0" xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-arrow-down-circle-fill" viewBox="0 0 16 16">
                       <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v5.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V4.5z"/>
                   </svg>

                   <svg *ngIf="transacao.origemTipo == 1"  xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-arrow-up-circle-fill" viewBox="0 0 16 16">
                       <path d="M16 8A8 8 0 1 0 0 8a8 8 0 0 0 16 0zm-7.5 3.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707V11.5z"/>
                   </svg>

                   <svg *ngIf="transacao.origemTipo == 2" xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-check-circle-fill" viewBox="0 0 16 16">
                       <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
                   </svg>

               </span>
           </div>

           <div class="col-md-5 text-truncate" data-bs-toggle="tooltip" data-bs-placement="bottom" title="{{transacao.descricao}}">{{transacao.descricao}}</div>
           <div class="col-md-2">ID: {{transacao.id}}</div>

           <div class="col-md-4"> 
               <span [ngClass]="{'text-success': transacao.valor >= 0, 'text-danger': transacao.valor < 0}">
               R$ {{transacao.valor}},00
               </span>
           </div>

       </div>
   </div>

</div>