<div class="container">
	<h2>TEM CERTEZA QUE DESEJA APAGAR ESTA CARTEIRA?:</h2>
	<div *ngIf="error" class="alert alert-danger mb-3">
		{{error}}
	</div>
	<div class="card">
		<div class="card-header text-center">
			<svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" class="bi bi-wallet" viewBox="0 0 16 16">
					<path d="M0 3a2 2 0 0 1 2-2h13.5a.5.5 0 0 1 0 1H15v2a1 1 0 0 1 1 1v8.5a1.5 1.5 0 0 1-1.5 1.5h-12A2.5 2.5 0 0 1 0 12.5V3zm1 1.732V12.5A1.5 1.5 0 0 0 2.5 14h12a.5.5 0 0 0 .5-.5V5H2a1.99 1.99 0 0 1-1-.268zM1 3a1 1 0 0 0 1 1h12V2H2a1 1 0 0 0-1 1z" />
			</svg>
			{{selectedCarteira.nome}}
		</div>
		<div class="card-body">
			<h1 class="card-title">Saldo: R${{selectedCarteira.saldo}}</h1>
			<p class="card-text">Email: {{authenticationService.currentUser.email}}</p>
			<p class="card-text">CPF: {{authenticationService.currentUser.cpf}}</p>
			<p class="card-text">UserId: {{authenticationService.currentUser.id}}</p>
			<button type="button" class="btn btn-danger" (click)="desativar()">Apagar</button>
		</div>
		<div class="card-footer text-muted text-center">
			ID da carteira: {{selectedCarteira.id}}
		</div>
	</div>
	<div class="row my-3">
		<div class="col-md-12 text-center">
			<a routerLink="../carteira-list">
				<button type="button" class="btn btn-primary">
					Minhas Carteiras
				</button>
			</a>
		</div>
	</div>
</div>