<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header text-center bg-dark text-white">
                Descontos exclusivos para clientes Conta Central:
            </div>
            <div class="card-body">
                <ul>
                    <li>
                        Pague metade na entrada do cinema.
                    </li>
                    <li>
                        Restaurantes parceiros.
                    </li>
                    <li>
                        Sem taxas.
                    </li>
                    <li>
                        Realize todas as suas transações online!
                    </li>
                </ul>
            </div>
            <div class="card-footer text-end bg-dark">
               <button class="btn btn-light">Saiba mais...</button>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-header text-center bg-dark text-white">
                Descontos exclusivos para clientes Conta Central:
            </div>
            <div class="card-body">
                <ul>
                    <li>
                        Pague metade na entrada do cinema.
                    </li>
                    <li>
                        Restaurantes parceiros.
                    </li>
                    <li>
                        Sem taxas.
                    </li>
                    <li>
                        Realize todas as suas transações online!
                    </li>
                </ul>
            </div>
            <div class="card-footer text-end bg-dark">
               <button class="btn btn-light">Saiba mais...</button>
            </div>
        </div>
    </div>
</div>
<div class="row mt-2">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header text-center">
                Indique e ganhe.
            </div>
            <div class="card-body bg-dark">
                <div class="row">
                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-body">
                                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tempora sunt, nobis est vero vitae quos impedit itaque autem eveniet aut commodi ipsam, atque aliquam reiciendis excepturi voluptate quae porro non.
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-body">
                                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tempora sunt, nobis est vero vitae quos impedit itaque autem eveniet aut commodi ipsam, atque aliquam reiciendis excepturi voluptate quae porro non.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>