<app-header-auth-shared></app-header-auth-shared>
<app-menu-mobile-shared></app-menu-mobile-shared>

<main class="custom-body">
   <router-outlet></router-outlet>
</main>

<footer class="container-fluid custom-margin">
   <div class="row">
      <div class="col-md-12">
         <div class="text-center text-lg-start">
            <div class="p-4">
               <div class="text-center">
                  Precisando de ajuda? Utilize nosso WhatsApp para facilitar sua experiência!
               </div>
               <div class="text-end p-1">
                  © 2021 Copyright:
                  <a class="text-reset fw-bold" href="#">Conta Central</a>
               </div>
            </div>
         </div>
      </div>         
   </div>
</footer>