.custom-icon {
    margin-top: 10px;
}

.custom-border {
    border: solid #292b2c 1px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    color: white;
    text-align: center;
    font-size: 1.7rem;
    background-color: #292b2c;
}

.custom-top-border {
    border-top: solid #292b2c 20px;
}
.custom-dollar {
    padding-right: 7px;
    padding-left: 7px;
    background-color: orange;
    border: solid orange 2px;
    border-radius: 100%;
}
.custom-top {
    height: 25px;
}

.custom-main {
    border-top: solid #292b2c 30px;
    text-align: center;
    font-size: 1.5rem;
} 

.custom-row {
    text-align: center;
    font-size: 0.8rem;
}

.custom-icon {
    font-size: 1.5rem;
    text-align: center;
}

.custom-icon-text {
    font-size: 1rem;
    text-align: center;
    font-weight: bold;
}

#navbarSide {
    background-color: #292b2c;
}

.custom-carteira {
    height: 50vh; 
    width: 50vw;
}